.container-Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: rgb(30, 130, 30);
  border: 3px solid burlywood;
  padding: 1rem;
  color: #fff;
}

.navBar ul {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.navBar ul li {
  font-size: 20px;
  padding-left: 12px;
  color: #fff;
}

.navBar ul li a {
  color: #fff;
  text-decoration: none;
}
